@use "../../../styles/abstracts/" as *;
@use "../../../styles/global/headlines";
@use "../../../styles/global/paragraphs";

.home-page-intro {
  padding-top: 5rem;
  background-color: $accentColor;

  &-wrapper {
    max-width: 110rem !important;
  }

  &-title {
    width: 100%;
    text-align: center;

    h1 {
      @extend .hl-one;
      color: $tertiaryColor;
      text-transform: uppercase;
    }

    &-word-wrapper {
      display: inline-block;
      overflow: hidden;
      vertical-align: top;
    }

    &-word {
      display: inline-block;
      will-change: transform, opacity;
    }
  }

  &-content {
    text-align: center;
    p {
      color: $tertiaryColor;
    }
  }

  &-image {
    width: 100%;
    max-width: 75rem;
    margin: 2rem auto;
  }
}
