@use "../../../styles/abstracts/" as *;
@use "../../../styles/global/headlines";
@use "../../../styles/global/paragraphs";

.service-content {
  position: relative;
  padding-top: 7rem;
  background-color: $tertiaryColor;
  overflow: hidden;

  &-logo-icon {
    position: absolute;
    top: -5rem;
    right: -14rem;
    width: 48.1rem;
    height: 47.76rem;
    z-index: 1;
  }

  &-title {
    position: relative;
    width: 100%;
    max-width: 90rem;
    margin-right: auto;
    margin-left: 0;
    margin-bottom: 2.5rem;
    z-index: 100;

    h1 {
      @extend .hl-one;
      color: $whiteColor;
      text-transform: uppercase;
    }
  }

  &-main {
    position: relative;
    width: 100%;
    margin-right: auto;
    margin-left: 0;
    max-width: 90rem;
    z-index: 100;

    p,
    a,
    ul,
    li {
      @extend .p-two;
      font-weight: normal !important;
      color: $whiteColor;
    }

    p {
      color: $whiteColor !important;
    }

    a {
      &:hover {
        color: $accentColor !important;
      }
    }

    li {
      margin: 0 !important;
      color: $whiteColor !important;

      &::before {
        color: $whiteColor !important;
      }
    }
  }
}
