@use "../../../styles/abstracts/" as *;
@use "../../../styles/global/headlines";
@use "../../../styles/global/paragraphs";

.services-display {
  padding: 5rem 0;
  background-color: $tertiaryColor;

  &-header {
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;

    &-logo {
      width: calc(100%);
      padding: 2rem 10rem;

      @media (min-width: 768px) {
        width: calc(20rem);
        padding: 2rem;
      }
    }

    &-title {
      width: calc(100%);

      @media (min-width: 768px) {
        width: calc(100% - 20rem);
        padding: 2rem;
      }

      h2 {
        @extend .hl-one;
        color: $whiteColor;
        text-align: center;
        text-transform: uppercase;
      }
    }
  }

  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 10rem;
  }

  &-service {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(100% - 2rem);
    margin: 5rem 1rem;

    @media (min-width: 768px) {
      width: calc((100% / 2) - 2rem);
      margin: 5rem 1rem;
    }

    @media (min-width: 1024px) {
      width: calc((100% / 3) - 2rem);
      margin: 5rem 1rem;
    }

    &-header {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;

      &-image {
        width: calc(50% - 1rem);
        margin-right: 1rem;
        border-radius: 2rem;
        overflow: hidden;
      }

      &-title {
        width: calc(50% - 1rem);
        margin-left: 1rem;

        h3 {
          @extend .hl-two;
          margin-top: 0;
          color: $whiteColor;
          font-weight: normal;
          text-transform: uppercase;
        }
      }
    }

    &-excerpt {
      width: 100%;
      margin-top: 4rem;

      p {
        @extend .p-two;
        color: $whiteColor;
      }

      &-link {
        width: 100%;

        a {
          @extend .p-two;
          color: $whiteColor;
          text-transform: uppercase;

          &:hover {
            color: $primaryColor;
          }
        }
      }
    }
  }
}
