@use "../../../styles/abstracts/" as *;
@use "../../../styles/global/headlines";
@use "../../../styles/global/paragraphs";

.services-display {
  padding: 5rem 0;
  background-color: $tertiaryColor;

  &-header {
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;

    &-logo {
      width: calc(20rem);
      padding: 2rem;
    }

    &-title {
      width: calc(100% - 20rem);
      padding: 2rem;

      h2 {
        @extend .hl-one;
        color: $whiteColor;
        text-align: center;
      }
    }
  }
}
